.page {
  background-color: #fff;
}

.main-page {
  display: flex;
}

.outlet {
  position: absolute;
  top: 4.5rem;
  left: 15rem;
  right: 0;
  bottom: 0;
  height: calc(100vh - 4.5rem);
  overflow-y: hidden;
  overflow-x: auto;
}
